InventarioUdeaCliente/web/WEB-INF/wsdl/localhost_8080/soap_practica/ProductoWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. -->
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.udea.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.udea.com/" name="ProductoWS">
<types>
<xsd:schema>
<xsd:import namespace="http://services.udea.com/" schemaLocation="http://localhost:8080/soap_practica/ProductoWS?xsd=1"/>
</xsd:schema>
</types>
<message name="ingresarProducto">
<part name="parameters" element="tns:ingresarProducto"/>
</message>
<message name="ingresarProductoResponse">
<part name="parameters" element="tns:ingresarProductoResponse"/>
</message>
<message name="consultarProductos">
<part name="parameters" element="tns:consultarProductos"/>
</message>
<message name="consultarProductosResponse">
<part name="parameters" element="tns:consultarProductosResponse"/>
</message>
<message name="buscarProducto">
<part name="parameters" element="tns:buscarProducto"/>
</message>
<message name="buscarProductoResponse">
<part name="parameters" element="tns:buscarProductoResponse"/>
</message>
<portType name="ProductoWS">
<operation name="ingresarProducto">
<input wsam:Action="http://services.udea.com/ProductoWS/ingresarProductoRequest" message="tns:ingresarProducto"/>
<output wsam:Action="http://services.udea.com/ProductoWS/ingresarProductoResponse" message="tns:ingresarProductoResponse"/>
</operation>
<operation name="consultarProductos">
<input wsam:Action="http://services.udea.com/ProductoWS/consultarProductosRequest" message="tns:consultarProductos"/>
<output wsam:Action="http://services.udea.com/ProductoWS/consultarProductosResponse" message="tns:consultarProductosResponse"/>
</operation>
<operation name="buscarProducto">
<input wsam:Action="http://services.udea.com/ProductoWS/buscarProductoRequest" message="tns:buscarProducto"/>
<output wsam:Action="http://services.udea.com/ProductoWS/buscarProductoResponse" message="tns:buscarProductoResponse"/>
</operation>
</portType>
<binding name="ProductoWSPortBinding" type="tns:ProductoWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="ingresarProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultarProductos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ProductoWS">
<port name="ProductoWSPort" binding="tns:ProductoWSPortBinding">
<soap:address location="http://localhost:8080/soap_practica/ProductoWS"/>
</port>
</service>
</definitions>